name: Maven CI/CD
on: 
  workflow_dispatch:
    inputs:
      operation:
        description: 'Maven operation'
        required: true
        type: choice
        options:
          - 'clean'
          - 'compile'
          - 'test'
          - 'package'
          - 'verify'
          - 'install'
          - 'site'
          - 'deploy'
        default: 'package'
      java-version:
        description: 'Java version'
        required: true
        type: choice
        options:
          - '8'
          - '11'
          - '17'
          - '21'
          - '25'
        default: '17'
      java-distribution:
        description: 'Java distribution'
        required: true
        type: choice
        options:
          - 'corretto'
          - 'temurin'
        default: 'corretto'
jobs:
  maven:
    name: Maven ${{inputs.operation}}
    runs-on: ubuntu-latest
    container:
      image: ubuntu:26.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - run: |
          env

      - name: Maven Build
        uses: dienha93/maven-actions@v1.1.0
        with:
          operation: ${{inputs.operation == '' && 'package' || inputs.operation }}
          java-version: ${{inputs.java-version == '' && '17' || inputs.java-version }}
          java-distribution: ${{inputs.java-distribution == '' && 'corretto' || inputs.java-distribution }}
          force-install: true
