name: Maven CI/CD
on: 
  push:
  workflow_dispatch:
    inputs:
      operation:
        description: 'Maven operation'
        required: true
        default: 'package'
jobs:
  maven-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - run: |
          env

      - name: Maven Build
        uses: dienha93/maven-actions@v1.0.0
        with:
          operation: ${{inputs.operation == '' && 'package' || inputs.operation }}
