name: Maven CI/CD
on: 
  workflow_dispatch:
    inputs:
      operation:
        description: 'Maven operation'
        required: true
        default: 'package'
      java-version:
        description: 'Java version'
        required: true
        default: '17'
      java-distribution:
        description: 'Java distribution'
        required: true
        default: 'corretto'
jobs:
  maven:
    name: Maven ${{inputs.operation}}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - run: |
          env

      - name: Maven Build
        uses: dienha93/maven-actions@v1.0.0
        with:
          operation: ${{inputs.operation == '' && 'package' || inputs.operation }}
          java-version: ${{inputs.java-version == '' && '17' || inputs.java-version }}
          java-distribution: ${{inputs.java-distribution == '' && 'corretto' || inputs.java-distribution }}
